

$inputbgColor : rgb(32 ,47, 54, 1);
$placeholderColor: rgba(225, 225, 225, 1);
$secondryBorder:rgb(27, 168, 235);
$lightgray : #37464f;
$forgetColor :rgb(82, 101, 109);


.input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%
    
    img {
        position: absolute;
        right: 15px;
        top: 20px;
        width: 20px;
        
    }
}

.userNameInput, .passwordInput {
    color: $placeholderColor;
    background-color: $inputbgColor;
    border-radius: 10px;
    padding: 12px;
    margin: 7px;
    font-size: 18px;
    border: solid 2px $lightgray;
    width: 380px;
}


input::placeholder{
    color:$placeholderColor; 
}
 
input:focus {
    border: 2px solid $secondryBorder;
    outline: none;
}



// Forget link in password input

.forgrt-link {
    position: absolute;
    right: 35px;
    top: 105px;
    transform: translateY(-50%);
    font-size: 14px;
    cursor: pointer;
    font-weight: 800;
    transition: color 0.2s ease;
    color: $forgetColor;

    &:hover {
        color: white;
    }
}


@media (max-width:700px) {
    .input-container{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .passwordInput,.userNameInput .userAgeInput{
        width: 100%;
        // margin-left: 2%;
    }
    .forgrt-link{
    position: absolute;
    right: 35px;
    top: 125px;
    }
}


