@use "./InputBox.scss";
@use './LoginPageBtn.scss';



$bgColor : rgba(19, 31, 36, 1);
$headerColor : rgba(241, 247, 251, 1);
$footerTextColor : rgb(81, 100 , 108);
$btnSecondery:rgb(73, 192, 248);
$secondryBorder:rgb(27, 168, 235);
$btnFontColor: rgb(67, 173, 223);
$btnloginhiveer : rgb(80, 211, 255);
$accountBtnColor : rgb(18, 28, 32);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow :hidden;
    height: 100vh;
    width: 100%;
    background-color: $bgColor;    
}

a {
    text-decoration: none;
    cursor: pointer;
    color:$footerTextColor ;
}

.container {
  display: flex;
  flex-direction: column;
}
.signup-text span , p{
    font-size: 15px;
    margin-right: 4px;
}

header {
    display: flex;
    margin: 30px 30px 0 30px;
    justify-content: space-between;
    
    img{
        width:25px ;
        cursor: pointer
    }
    button{
        padding: 13px;
        font-size: 15px
        
    }
}

.form-wrapper {
    display: flex;
  flex-direction: column;
    justify-content: center;   
    align-items: center;       
    height: 80vh;              
    width: 100%;                
}

form{
    display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 410px;
    padding: 16px;
}

h1 {
    color: $headerColor;
    font-size: 26px;
    margin: 10px 0 15px;
    text-align: center;
    font-weight: 700;
}

.loginbtn {
    width: 380px;
    height:45px;
    color: black;
    background-color: $btnSecondery;
    border: 1px solid $secondryBorder;
    box-shadow:0 3px $secondryBorder ;
    margin: 20px 0;
    transition: backgroundColor 0.3s ease;
    &:hover {
        background-color:$btnloginhiveer;
    }
}
//////////////////////////////////////////////////
/// dont work
.or-separator {
  display: flex;
  align-items: center;
  margin: 10px 0;

  .line {
    flex: 1;
    height: 10px;
    background-color: #ccc;
  }

  span {
    margin: 0 10px;
    color: #555;
    font-weight: bold;
  }
}

/////////////////////////////////////////////////
/// 
.account{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.accountbtn{
    width: 180px;
    display: flex;
    justify-content: center;
    background-color: $bgColor;
    align-items: center;
    padding: 13px 0;
    margin: 10px 10px  0 10px;
    transition: background 0.3s ease;
    img{
        width:20px;
        margin-right: 3px;
    }
    &:hover{
        background-color: $accountBtnColor;
    }
}

.footer-text {
    color:$footerTextColor ;
    font-size: 15px;
    width: 380px;
    text-align: center;
    line-height: 20px;
    margin-top: 25px;
    
}
.botton-text {
    padding: 5px;
    margin:  100px 10px 10px 10px;
}
.botton-last-text {
    margin-top:20px ;
}


@media (max-width: 700px) {
  form {
    width: 100%;
  }

  .loginbtn {
    width: 95%;
    margin: 15px 0;
  }

  .account {
    width: 98%;
    display: flex;
    justify-content: space-around;
  }

  .accountbtn {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footer-text {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .closeIcon {
    position: fixed;
    right: 20px;
  }
}
