$bgColor : rgba(19, 31, 36, 1);
$btnBorderColor : rgba(50, 63 ,71, 1);


button {
    font-weight: 800;
    font-size: 14px;
    border-radius: 15px;
    border: solid 2px $btnBorderColor;
    box-shadow:0 2px $btnBorderColor ;
    background-color: $bgColor;
    text-align: center;
}
