@use './LoginPageBtn.scss';
@use './Loginpage.scss';
$btnFontColor: rgb(67, 173, 223);
$primarybtnFontColor: rgb(225, 225, 225);
$bgColor : rgb(17, 28, 32);

// .signup-container {
// //   display: flex;
// //   justify-content: center; /* وسط صفحه */
// //   align-items: center;
// //   margin-top: 50px;
// }

.signup-button{
    padding: 15px 17px;
    color: $btnFontColor;
    font-weight: 900;
    &:hover {
      background-color: $bgColor;
      cursor: pointer;
      transition: background 0.3s ease;
    }
}


/* متن مخفی در حالت دسکتاپ */
  .signup-text {
    display: none; 
    font-size: 18px;
    span{
        color: $btnFontColor;
    }
    p {
        color:$primarybtnFontColor ;
    }
  }


@media (max-width: 700px) {
  .signup-container {
    display: flex;
    margin-top: 20px;

    .signup-button {
      display: none; 
    }

    .signup-text {
      display: flex; 
      position: fixed;       
      bottom: 80px;          
      left: 50%;             
      transform: translateX(-50%);
      font-size: 15px;
      font-weight: bold;
      

      span a{
        margin-left: 7px;
        color: $btnFontColor;
      }
    }
  }
}
